.todo_container{
    width: 80%;
    height: 50px;
    display: grid;
    margin: 10px auto;
    grid-template-columns: 1fr 50px;
  }
  
  .todo_container-exit-active {
    animation: remove 0.6s normal;
  }
  
  .todo_container-enter-active {
    animation: add 0.6s normal;
  }
  
  @keyframes add{
    from{
      opacity: 0;
      transform:translateX(-100px)
    }
    to{
      opacity: 1;
      transform:translateX(0)
    }
  }
  
  @keyframes remove {
    from{
      opacity: 1;
      transform:translateX(0);
    }
    to{
      opacity: 0;
      transform:translateX(-100px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .todo_container{
      width: 90%;
    }
  }