.title{
    padding: 0 20px;
    box-shadow: 0 0px 3px rgb(104, 104, 104);
    border-radius: 8px;
    line-height: 50px;
}

.remove{
    width: 40px;
    height: 40px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    border: none;
}