*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
}

.main{
    width:80%;
    margin:auto;
}

